/* For Show Line */
body {
  margin:0
}

.dividerOuter {
  margin-top: 5px;
  border-radius: 50px;
  width: 100px;
  height: 7px;
  background-color: #2196f3;
}

/* For Show Line */
.dividerInner {
  border-radius: 50px;
  width: 35px;
  height: 7px;
  background-color: #00e5ff;
}

.homeTitle {
  color: #253f4b;
  font-weight: 600;
  margin-bottom: 0;
}

.blueGray {
  color: #253f4b;
}

.black {
  color: black
}

.normalize {
  display: inline-block;
  flex-direction: row;
  align-items: end;
  justify-content: start;
}