.titleFont1 {
  color: #294956;
  font-weight: 400;
  margin-right: 10px;
}

.titleFont2 {
  color: #253f4b;
  font-weight: bolder;
}

.textBubble {
  background-color: #eff1f4;
  padding: 2%;
  border-radius: 20px;
  margin-bottom: 2vh;
  text-align: center;
}

.sideGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.profilePic {
  width: 70%;
  border-radius: 20%;
}